.carousel-img {
    height: 100vh !important;
    object-fit: cover;
}

@media (max-width: 768px) {
    .carousel-img {
        height: 50vh;
    }

    .carousel-caption h1 {
        font-size: 1.75rem;
    }

    .carousel-caption p {
        font-size: 1rem;
    }

    .carousel-caption {
        bottom: 20px;
    }
}